* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }

  a {   
    text-decoration: none;
 }

.clearfix:after {
    content: ""; 
    display: block;
    clear: both;

}
section{
     margin-bottom: 24px; 

}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
   
}

header {
        padding: 15px 0;
        background: #362b2b0d;
         margin-bottom: 24px; 
}
.logo{
    width: 100px;
    height: 60px;
    background-color: orange;
    float: left;
}

.navbar li {
    list-style: none;
    float: left;
    padding: 21px 28px;
}

.navbar{
    float: right;   
}
.left{
    background-color: palegreen;
    width: 50%;
    height: 405px;
    float: left;
}
.right{
    float:left;
    width: 50%;
}

.one{
    width: 45%;
    height: 190px;
    background-color: powderblue;
    float: left;
    margin-bottom: 25px;
}
    
.two{
    width: 45%;
    height: 190px;
    background-color: rgb(226, 105, 105);
    float: left;
    margin-bottom: 25px;
}
.three{
    width: 45%;
    height: 190px;
    background-color: yellow;
    float: left;
}

.four{
    width: 45%;
    height: 190px;
    background-color: purple;
    float: left;
}

.margin-left{
    margin-left: 25px;
    
}
.margin-right{
    margin-right:25px ;
}

footer{
        
        background: #362b2b0d;
        height: 60px;
}

.box {
    margin: 0 auto;
   float: left;
}
.boxes{
     
    width:100px;
    height: 60px;
    background-color: rgb(204, 59, 43);
    float: left;
    margin-right: 6px;


}

.box-three{ 
    width: 60px;
    height: 60px;
    
}
.box-four{
  width: 30px;
 height: 60px;  
}



img{

    max-width: 100%;
}

.marks{
float: right;
}

.marks img{
width: 50px;
height: 50px;
      
}

